body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-galeria,
.container-categorias {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-galeria h1,
.container-categorias h1 {
  color: #0d8bd9;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}

.galeria {
  width: 850px;
  height: 530px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.categorias {
  width: 450px;
  height: 530px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.imagen-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
.imagen-style {
  border-radius: 10px;
  width: 765px;
  height: 390px;
}

.hidden {
  display: none !important;
}

.montanas1 {
  background-image: url(./Sources/mountain1.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.montanas2 {
  background-image: url(./Sources/mountain2.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.montanas3 {
  background-image: url(./Sources/mountain3.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.montanas4 {
  background-image: url(./Sources/mountain4.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.montanas5 {
  background-image: url(./Sources/mountain5.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.montanas6 {
  background-image: url(./Sources/mountain6.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.playa1 {
  background-image: url(./Sources/playa1.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.playa2 {
  background-image: url(./Sources/playa2.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.playa3 {
  background-image: url(./Sources/playa3.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.playa4 {
  background-image: url(./Sources/playa4.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.playa5 {
  background-image: url(./Sources/playa5.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.playa6 {
  background-image: url(./Sources/playa6.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.ciudad1 {
  background-image: url(./Sources/ciudad1.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.ciudad2 {
  background-image: url(./Sources/ciudad2.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.ciudad3 {
  background-image: url(./Sources/ciudad3.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.ciudad4 {
  background-image: url(./Sources/ciudad4.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.ciudad5 {
  background-image: url(./Sources/ciudad5.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.ciudad6 {
  background-image: url(./Sources/ciudad6.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.paisaje1 {
  background-image: url(./Sources/paisaje1.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.paisaje2 {
  background-image: url(./Sources/paisaje2.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.paisaje3 {
  background-image: url(./Sources/paisaje3.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.paisaje4 {
  background-image: url(./Sources/paisaje4.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.paisaje5 {
  background-image: url(./Sources/paisaje5.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.paisaje6 {
  background-image: url(./Sources/paisaje6.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.blur {
  -webkit-filter: blur(100%);
  filter: blur(3px);
}
.sepia {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}
.saturacion {
  -webkit-filter: saturate(250%);
  filter: saturate(250%);
}
.negativo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.grises {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.caja-style h3 {
  color: #252525;
  font-size: 18px;
  margin-left: 5%;
  font-weight: 400;
  margin-bottom: 10px;
}

.btn-style {
  background-color: #0d8bd9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.btn-style:hover {
  background-color: #08649c;
  transition: 200ms;
}

.style-active {
  background-color: #0BD990;
}

.box-buttons {
  margin-left: 5%;
}

.btn-style:focus,
.btn-categorias-active:focus,
.btn-categorias:focus {
  outline: none;
}

.btn-active,
.btn-categorias:hover {
  background-color: #0d8bd9 !important;
  color: white !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-categorias {
  background-color: #ffffff;
  border: none;
  color: #252525;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 3px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.box-btn-categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
}

.box-img-categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.imagenes-categorias {
  width: 195px;
  height: 125px;
  margin: 8px;
  border-radius: 5px;
}

.imagen-active {
  border: 2px solid #0d8bd9;
  border-radius: 5px;
}
